language: node_js
node_js: stable
sudo: required
before_script:
- npm install -g polymer-cli
- npm install -g bower
- polymer install --variants
addons:
  firefox: latest
  apt:
    sources:
    - google-chrome
    packages:
    - google-chrome-stable
  sauce_connect: true
script:
- npm run lint
- xvfb-run polymer test polymer test --plugin local
- if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then polymer test --plugin sauce --job-name
  "api-documentation:${TRAVIS_BRANCH}" --build-number=${TRAVIS_BUILD_NUMBER}; fi
cache:
  directories:
  - node_modules
after_success:
- node tasks/ci.js
env:
  global:
  - secure: RkNOkF+R9CBWSi/hods79UK0GozmKjnLCN+f1KAoNm+75+ti6VzWDdHb/6o+AKGDJ84heFEVXT5MhxgHMS/96zn8vAOmIW6BfMawTgHEmcrngvi58FDAn1UYolRu6Jz3221snxaeWjhxtfAVWd383fxzbQZarumEfU2uiLPnovVo3JeEv0AbnOm+S9qLXEMCyaVuYV4I4wrX0+0xTXUjS2XWMi3JUwwidp1KFx04/AOj5brsS53a9J2K5WfpAb2gvwCLWLUlW+zQgBaAZtq8QvEdtpWsIdEXgbiW7UlEWZGw8JN/fMTror385Aw4oQS7mUHiN2O9LqXBLTHSNkXQPPIRQegDeijQE1525RkFSJ7KS2G3x37dQ7KTBNPEIaUzpMQPFcb679G2LOkF6sjbsJIUhi7CDdiP07xI3hCwpMuzKwHyQF+PBToTmxunDrP8FhRaXgBdRAN7mL8h+jlah8TlRJzDlWa1CDyImcBDvnXamL4YKq4k3195ct0Jb5yiaWaICHMkPusNR7qpkB4bEJ3dcyo7hVLRhoZQChEl0W8kSMJ3K83WYxdwxQpSGuTvleYaiGESkj5TlRd+ozymoVphFEtDGthXr0y2PW6ZuUPj8KcNWMtVUJOP9rruml5gb8DVxv57UyUAyHqHArAEdmguWPwSeMAO3qbFIUTKTGE=
  - secure: VEahCO0+88cZEgF+t2VPI0IwLqBQHzM40bp25oBn8IGI1a9qOLkOp+jXkj14CsQ9JzuhLdUZzota25rkxWHdNId+0n1jCekl1O6sxZc+dhXn3FeeqGO6KErW5rqkVvM4yCult8jH+g8z+1AWRQyUFh08pl5AJIkJs6ZSU8qQke9bJR8YayoiAe182lbvnD5Qv6SJyhzf+ObvISJ4gBqpip+g8YGWXN0YeVSe7WZZESnwUGb4T5zpBV6l6jFw7uK0supw8sOgsvWa7OWnixnhve7wpww+ZXsLWAaUdNYHKFi935go+eVd6XAMAfzf55erw9bvjuR9zWNzhM96upALHzgWP8VXhJKnlFglJNJBt3q1hBnsaqp27f6a3tJwK6wlhSToyK7hF0pWHcqvMPwYLpOKsKGRWCj05vhuyNNz6a7rp34yNAP6J/LyjZMZ8jr1hi/kUTUseDfvc0htlKGpuMSYjbD2ykwOXw5FlpwSLHrrcrIee2RUIELHYvsSf51a1gmzpWq0Z8gHQrkaLNtmszuqkAKbdRTW71ncXA8spEBkBnK3X2vko7+fv/ilP87kgdnXSYWAl3tj4VabVGadEat2iqujOk3q71YZheSKoBTcBeZ2sHo7D7nL+ue0PRzitcg2IqTbGSSaq9WuUmc/t/9lKMaJ0GVlqmfnfrDCcfw=
